{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "@typescript-eslint/eslint-plugin",
    "eslint-plugin-tsdoc"
  ],
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error"]
  },
  "ignorePatterns": ["dist"],
  "overrides": [
    {
      "files": "*.vue",
      "extends": [
        "plugin:vue/vue3-recommended",
        "eslint:recommended",
        "@vue/typescript/recommended"
      ]
    },
    {
      "files": [
        "**/__tests__/*.{j,t}s?(x)",
        "**/tests/unit/**/*.spec.{j,t}s?(x)",
        "**/*.spec.{j,t}s?(x)",
        "vitest.setup.ts"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
