:root {
    --ui-colour-primary: purple;
    --ui-colour-secondary: blue;

}

.ui-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.ui-input-label {
    position: absolute;
    color: var(--ui-colour-primary);
    font-size: smaller;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
}
.ui-input {
    background-color: whitesmoke;
    color: black;
    width: 100%;
    border-radius: 0.3rem;
    padding: 1.2rem 0.5rem 0.2rem 0.5rem;
}
.ui-input:focus {
    outline: none;
}
.ui-input-validation {
    font-size: x-small;
    padding-left: 0.5rem;
}