:root {
    --ui-validation-font-size: x-small;
    --ui-colour-input-label: purple;
    --ui-colour-input-text: black;
    --ui-colour-input-background: whitesmoke;
    --ui-input-border-radius: 0.3rem;
    --ui-checkbox-box: purple;
    --ui-checkbox-box-background: var(--ui-colour-input-background);
}

.ui-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ui-input-label {
    position: absolute;
    color: var(--ui-colour-input-label);
    font-size: smaller;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
}
.ui-input {
    background-color: var(--ui-colour-input-background);
    color: var(--ui-colour-input-text);
    width: 100%;
    border-radius: var(--ui-input-border-radius);
    padding: 1.2rem 0.5rem 0.2rem 0.5rem;
}
.ui-input:focus {
    outline: none;
}
.ui-input-validation {
    font-size: var(--ui-validation-font-size);
    padding-left: 0.5rem;
}

.ui-checkbox-validation {
    font-size: var(--ui-validation-font-size);
}

.ui-checkbox-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}
.ui-checkbox-inner-container {
    position: relative;
    display: inline-flex;
}
.ui-checkbox-input {
    position: absolute;
    opacity: 0;
}
.ui-checkbox-input + .ui-checkbox-box:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: var(--ui-checkbox-box-background);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.ui-checkbox-input:hover + .ui-checkbox-box:before {
	background-color: var(--ui-checkbox-box);
}  
.ui-checkbox-input:checked + .ui-checkbox-box:before {
	background-color: var(--ui-checkbox-box);
}  

.ui-radio-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}
.ui-radio-inner-container {
    position: relative;
    display: inline-flex;
}
.ui-radio-input {
    position: absolute;
    opacity: 0;
}
.ui-radio-input + .ui-radio-button:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid white;
    background: var(--ui-checkbox-box-background);
}
.ui-radio-input:checked + .ui-radio-button:before {
	background-color: var(--ui-checkbox-box);
}  